*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(90deg,
    rgba(85, 161, 114, 1)0%,
     rgba(85,85,161,0.623)100%);
     display: flex;
     align-items: center;
     justify-content: center;
}

.container{
    border: 2px solid rgb(170, 252, 231);
    padding: 30px 30px;
    width: 40%;
    min-width: 500px;
}

.new-task-container{
    background-color:rgb(170, 252, 231) ;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0,0,0.3);
    display:flex;
}

.new-task-container input{
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    font-weight: 500;
}
.new-task-container input:focus{
    outline: none;
    border-color:rgba(85, 161, 114, 1) ;
}

.new-task-button{
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: rgba(85, 161, 114, 1);
    color: #fff;
    padding: 12px;
    margin-left: 12px;
    cursor: pointer;
}

.tasks-container{
    background-color:rgb(170, 252, 231);
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0,0,0.3);
    width: 100%;
}

.task-item{
    display:flex;
    justify-content: space-between;
    align-items: center ;
    margin-bottom: 6px;
    margin-top: 25px;
    position: relative;
}



.task-item i{
    position: absolute;
    background-color: rgba(85, 161, 114, 1);
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    

}
.alinhar{
    cursor: pointer;
    position: absolute;
    margin-inline-start: 32px;
    margin: 6px;
    left: 78%;
}
.alinhar1{
    cursor: pointer;
    position: absolute;
    margin-inline-start: 32px;
    margin: 6px;
    left: 90%;
}

 /*  Utilitarios  */

 .error{
    border: 2px solid red !important;
 }

 .error::placeholder{
    color: red;
 }

 .completed{
    text-decoration: line-through;
 }